<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-6">
      <a href="/" class="btn btn-sm btn-primary mb-2">Back</a>
      <div class="card">
        <div class="card-header">
          <h2>Update product</h2>
        </div>
        <div class="card-body">
          <form
            action="/product/<%= product.id %>"
            enctype="multipart/form-data"
            method="POST"
          >
            <div class="my-3">
              <label for="">Product Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Product Name"
                name="name"
                value="<%= product.name %>"
              />
            </div>
            <div class="my-3">
              <label for="">Regular Price</label>
              <input
                type="text"
                class="form-control"
                placeholder="Regular Price"
                name="regularprice"
                value="<%= product.regularprice %>"
              />
            </div>
            <div class="my-3">
              <label for="">Sale Price</label>
              <input
                type="text"
                class="form-control"
                placeholder="Sale Price"
                name="sellprice"
                value="<%= product.sellprice %>"
              />
            </div>
            <div class="my-3">
              <label for="">Stock</label>
              <input
                type="text"
                class="form-control"
                placeholder="Stock"
                name="stock"
                value="<%= product.stock %>"
              />
            </div>
            <div class="my-3">
              <img class="w-100" src="/products/<%= product.photo %>" alt="" />
            </div>
            <div class="my-3">
              <label for="">Photo</label>
              <input
                type="file"
                class="form-control"
                placeholder="Photo"
                name="productPhoto"
              />
            </div>
            <div class="my-3">
              <button type="submit" class="btn btn-primary w-100">
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
